.Rproj.user
.Rhistory
.RData
.Ruserdata
# Large fitted spatial models
spatial-report/recovered_10m_e0fc649d1f33/results/spde_centroid_model.rds
spatial-report/recovered_10m_e0fc649d1f33/results/spde_point_on_surface_models.rds

# Large generated mesh figure
spatial-report/recovered_10m_e0fc649d1f33/patchFPCA_spatial_autocorrelation_10m_recovered_files/figure-latex/primary-mesh-1.pdf